pandas~=2.2.3
streamlit~=1.41.0
numpy<2.0
matplotlib~=3.9.3
scikit-learn~=1.6.0
uvicorn~=0.32.1
joblib>=1.4.2
joblib
fastapi~=0.115.6
pydantic~=2.10.3
requests~=2.32.3
plotly~=5.24.1
python-dotenv~=1.0.1